img {width:3cm;height:3cm;}
h1 {text-align: center; font-family: 'Arial'; font-size: 70px;}
h2 {text-align: center; font-family: Arial; font-size: 50px}
p {text-align: center;}
button {font-family: 'Arial';
    background-color: rgb(238, 238, 238);
        padding: 4px ;
        border-radius: 5px ;
        border: 5px solid rgb(35, 62, 139);
        margin: 5px;
    font-size: 25px;}
#listado {text-align: center; font-family: 'Arial';}
form, input {font-size: 25px;}
thead {font-size: x-large;}
table {width:80%;margin:auto;
        border: 5px rgb(0, 161, 157);
        border-collapse: collapse ; 
        background-color: rgb(139, 205, 205);   
    }
th#price {cursor:pointer;}
body {background-color: rgb(165, 225, 173);}
.entrada{ 
    background-color: rgb(0, 161, 157);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.input{
    border-radius: 5px;
    width: 90%;
  height: 30px;
}
label{
    font-family: Arial;
    font-size: 20px;
} 
#filtroprods{
    font-family: Arial;
    font-size: 22px;
}
/*si chequea muestra los productos sin cheque desaparecen los productos*/
input#c1:checked ~ table tbody tr.c1 { display: table-row; }
input#c1:not(checked) ~ table tbody tr.c1 { display: none; }
input#c2:checked ~ table tbody tr.c2 { display: table-row; }
input#c2:not(checked) ~ table tbody tr.c2 { display: none; }
input#c3:checked ~ table tbody tr.c3 { display: table-row; }
input#c3:not(checked) ~ table tbody tr.c3 { display: none; }
input#c4:checked ~ table tbody tr.c4 { display: table-row; }
input#c4:not(checked) ~ table tbody tr.c4 { display: none; }